---
layout: archive
title: "R PROJECTS"
permalink: /projects/
author_profile: true
---

{% include base_path %}

<p>Here are some of the research and data visualization projects I have worked on using R and other tools:</p>

{% for post in site.portfolio %}
  <div class="project-item">
    <h2>{{ post.title }}</h2> <!-- Added back to display project titles -->
    {{ post.content | markdownify }}
    {% if post.paperurl %}
      <p><a href="{{ post.paperurl }}" target="_blank">GitHub Repository</a></p>
    {% endif %}
  </div>
  <hr>
{% endfor %}
